.img1{
float:right;
margin-right: 50px;
margin-top: -340px;
height: 400px;
}
.logo{
  margin-left:30px;
}
#id1{
  padding-bottom:10px;
}
.menu-items{
color:back;
}
.menu-items .sub-item{
  padding-top: 10px;
  padding-left: 10px;
  background-color: #eee;
  /* margin-top:30px; */
  border-radius:10px;
  margin-bottom:50px;
  height:115px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.left-menu{
width:30%;
float:left;
margin-right:30px;
/* padding-bottom:10px; */
}
.right-menu{
width:70%;
height:100px;
float:right;
margin-top:-100px;
padding-left:30px;
}
.menu-items .sub-item .right-menu h3{
  font-size:20px;
  display:flex;
}
.menu-items .sub-item .right-menu span{
  font-size:20px;
  display:flex;
}
.menu-items .sub-item .right-menu h5{
  font-size:20px;
  display:flex;
}
.menu-items .sub-item .right-menu button{
  border-radius: 10px;
  width:80px;
  background-color: aqua;
  margin-bottom:50px; 
  padding-top:-100px;
}
#submenu{
  height:200px;
  width:200px;
  background-color:red;
  margin-left:580px;
  display:block;
}
#submenu1{
  height:200px;
  width:200px;
  background-color:red;
  margin-left:580px;
  display:none;
}
 .cart-icon{
  font-size:22px !important;;
  color: white !important;
  padding-right:10px !important;
  padding-left: 10px!important;
 }
 .search{
  padding-top:5px;
  border-radius: 8px;
  padding-bottom:5px;
 }
.search-icon{
  border:1px solid white !important;
  color: white !important;
  border-radius: 8px !important;
  font: size 20px !important;;
}



