.about-new0{
    text-align: left;
    height:250px;
    width:340px;
    padding:30px;
    /* border:1px solid black; */
    text-align: justify;
    padding-top:20px;
}
.about-new2{
    padding-bottom:25px;
}
.aboutus{
    text-align: justify;
    padding-left:80px;
    padding-top: 50px;
    padding-right:50px;
    padding-bottom:40px;

}
.aboutus ul li{
    margin-bottom: 10px;
    margin-left:20px;
}
.width{
    margin-right:80px;
}
.c{
    color:#80b441dc;
    background-color: #262626c2;
}
ul{
    display: inline;
}

