.about1{
    height:450px;
    background-size:cover;
    position: relative;
    display:flex;
    padding-left:82px;
    padding-top:290px;
}
.about11{
width:250px;
height:160px;
/* background-color:#80b441d5; */
background-color:rgba(255, 255, 255, 0.713);
color: #262626;
}
.about11 h4{
    margin-left:-30px;
    font-size:50px;
    margin-top:15px;
}
.about11 p{
    text-align: left;
    padding-left:50px;
    font-size:18px;
    font-weight: 700;
}
.about12{
    width:250px;
    height:160px;
    background-color:#262626c2;
    color:rgb(221, 218, 218);
    /* color:#80b441dc; */
}
.about12 h4{
    margin-left:-30px;
    font-size:50px;
    margin-top:15px;
}
.about12 p{
    text-align: left;
    padding-left:50px;
    font-size:18px;
    font-weight: 700;
}
.about2{
    /* height:260px; */
    background-color:#262626;
    color:white;
    /* border-bottom:1px solid white; */
    padding: 50px;
    padding-left:80px !important; 
    padding-right:80px !important;
    
}
.about2 div{
    text-align: left;
}
.about21{
    border-bottom:1px solid white;
}
.about22{
    padding-left:1000px;
    margin-top:-60px;
    padding-bottom: 30px;
}
.about23{
    padding-left:30px;
    padding-right:30px;
    padding-top:12px;
    padding-bottom:12px;
    background-color:#80b441dc;
    color:white;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    border-color:white
}
.about24{
    margin-top:30px;
    text-align: justify;
    font-size:16px;
}