.body{
    background-color: #eee;
    color:#262626;
    /* border:1px solid #262626; */
    /* padding:80px;*/
    padding-left:20px!important; 
    padding-top:52px !important;

}
.body label{
color:#262626;
font-size:16px;
margin-top:10px;
margin-bottom:-10px;
}
.body input{
    height: 52px;
    border:1px;
    border: 1px solid #262626;
    border-radius: 4px;
    width:400px;
    background-color: white;
    color:#262626;
    margin-right:20px;
}
.mar1 button{
    background-color:#80b441d5;
    padding:10px;
    color:white;
    border:1px solid white;
    border-radius:6px;
    display:inline;
    width:180px;
    margin-top:35px;
    margin-bottom:40px;
}
.mar2 button{
    background-color:#80b441d5;
    padding:10px;
    color:white;
    border:1px solid white;
    border-radius:6px;
    display:inline;
    width:180px;
    margin-top:35px;
    margin-left:20px;
    margin-bottom:40px;
}