.categorylist{
    color:gray;
    border:0.5px solid gray;
    border-radius: 6px;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size:14px;
    text-decoration: none;
    padding:10px;
    display:block;
    
    }
    @media(max-width:600px){
      .categorylist{
        margin-bottom: 10px;
      }
      ul{
        display:flex!important;
      }
      .AllCategory{
        margin-top:20px !important;
        margin-bottom: 20px !important;
      }
    }
  .categorylist:hover{
    text-decoration: none;
    transform: scale(1.15);
    transition-duration: 1.5s;
    color:black;
    border-color: black; 
    }
  .AllCategory{
    margin-top:40px;
    padding-top:40px;
    /* padding-bottom:40px; */
    /* display:inline; */
  }
  /* ul{
    display: flex;
  } */