.banner{
    background-size: cover;
    background-color: #EEE;
    padding:80px 0px 80px 60px;
    }
    .button1{
      border-radius: 50px;
      font-size:15px;
      display:flex;
     }
    .title1{
      font-size:50px;
      color:rgb(65, 55, 55);
      text-align: left;
    }
    .p1{
      text-align:left;
    }
    .banner-image img{
        width:80%;
        height:300px;
    }
    @media(max-width:600px){
        .banner{
          /* height: auto; */
          padding-top: 40px !important;
          padding-bottom: 40px !important;
          padding-left: 20px !important;
          /* padding-right: 30px !important; */
        }
        .banner-image img{
            padding-right:20px;
            width:100%;
        }
        .title1{
            font-size: 28px;
        }
    }