.blog{
   text-align:justify;
   margin-bottom:60px;
   padding-top:0px;
   border:1px solid #262626;
   padding:40px;
   background-color:rgba(255, 255, 255, 0.925);
   box-shadow: rgba(0, 0, 0, 0.521) 0px 5px 15px;
}
.blog img{
    width:100%;
    padding:0px !important;
    margin: 0px !important;
}
.a1{
    padding-Top:-40px;
    background-color: #262626e3;
    background-color:rgba(255, 255, 255, 0.925);
    padding-top:40px;
    padding-bottom:0px!important;
}
.blog button{
    background-color:#80b441d5;
    padding-left:30px;
    padding-right:30px;
    padding-top:6px;
    padding-bottom:6px;
    color:white;
    border:1px solid white;
    border-radius:6px
}
#abc{
    margin-top:8px;
}