.blog-read1{
margin-left: 107px;
margin-right: 107px; 
padding:35px;
border-radius:5px;
background-color: white;
margin-top:20px;
margin-bottom:40px;
}
.blog-read1 img{
border-radius:5px; 
}
.blog-read1 h2{
    text-align:left;
    text-align: justify;
    margin-top:30px;
    font-size:25px;
    color: #262626;
}

.blog1 a{
    color: #818181;
    margin-right:25px;
}
.blog-read1 p{
    text-align: justify;
    padding-top:10px;
}
.blog-read2 img{
    width:407px;
    height:300px;
    border-radius:15px; 
}
.blog-read4 button{
    background-color:white;
    padding:8px 20px;
    color:black;
    border:1px solid #26262621;
    border-radius:5px;
    margin-right:10px;
    font-size:15px;
}
.blog-read4 button:hover{
     background-color:#80b441d5;
     color:white;
}
.blog-read5 button{
     background-color:white;
     padding:4px 10px;
     color:#262626;
     border:1px solid #26262621;
     border-radius:5px;
     margin-right:10px;
     font-size:18px;
}
.blog-read5 button:hover{
    background-color:#80b441d5;
    color:white;
}
@media(max-width:600px){
.blog-read1{
margin-left: 1px;
margin-right: 1px; 
padding:35px;
border-radius:5px;
background-color: white;
margin-top:0px;
margin-bottom:40px;

}
.blog-read1 img{
width:290px;
}
.blog-read4 button{
    background-color:white;
    padding:0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:4px;
    padding-right:4px;
    color:black;
    border:1px solid #26262621;
    border-radius:5px;
    margin-right:3px;
    font-size:14px;
    
}

}