.cart1{
    margin:50px;

}
.cart1 .r2 img{
    border-radius: 5px;
    margin:10px;
    margin-right:50px;
}
.cart1 .r1 th{
    text-align: center;
    padding-bottom:10px;
    border-bottom:0.5px solid #262626;
} 
.cart-title{
text-align: left;
width: 400px;
}
.cart-price{
    padding-right: 100px;
}
.subtotal{
    padding-left:100px;
}
.cart-title1{
    padding-right:160px;
    
}
.cart1 .r2 td{
    border-bottom:0.1px solid #262626;
    padding-top:10px;
    padding-bottom:10px;
}
.cart1 .r2 td a{
    text-decoration: none;
    color:#262626
}
.subtotal-box{
    color:#262626;
    background-color:#262626;
    margin-top:-45px;
    margin-left:685px;
    margin-right:75px;
    margin-bottom:50px;
    color:white;
    text-align: left;
    padding:20px
}
.sb1{
    border-bottom: 1px solid;
}
.subtotal-box button{
    background-color:#80b441d5;
    padding:10px;
    color:white;
    border:1px solid white;
    border-radius:6px;
}
.sb2{
    margin-right:170px;
}
.sb3{
margin-top:10px;
}
.sb4{
    margin-right:195px;
}

.mobile{
    display:none;
}
@media(max-width:600px){
.desktop{
    display: none;
}
.mobile{
    display:block;
}
.r2 img{
    width:140px;
    height:140px;
}
.cart1 .r2 img{
    border-radius: 5px;
    margin-right:0px;
    margin-left:0px;
}
.cart-title{
    text-align: left;
    font-size:13px;
    margin-left:0px;
    color:#262626;
}
.cart-title a{
    color:#262626;
}
.cart-price{
    padding-left:10px;
}
.r3{
    color:white;
    background-color:#262626;
    border-radius: 10px;
    height:40px;
}
.subtotal{
    padding-left:1px;
}
.sb6{
    font-weight:bold;
    margin-right:-10px;
    
}
.subtotal-box{
    background-color:#80b441d5;
    color:white;
    border:1px solid white;
    border-radius:6px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
    padding-right:20px;
}
.subtotal-box button{
    background-color:#262626;
    color:white;
    padding-left: 80px;
    padding-right:80px;
    border-radius:6px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:10px;
}
.cart1{
    margin-bottom:10px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}
.sb1{
    padding-right:0px!important;
}
.sb2{
    margin-right:157px;
}
.sb4{
    margin-right:187px;
}
}