.checkout{
    border-bottom:1px solid white;
    text-align: left;
    padding-left:60px;
    font-size:18px;
    padding-top:40px;
    padding-bottom:20px;
    background-color: #81b441;
    margin-top:-1px;
}
.checkout a{
    color:white;
}
.address{
    /* border:1px solid #262626; */
    padding-left:60px;
    padding-top:40px;
    padding-bottom:40px;
    padding-right:40px;
    background-color: #81b441;
}
.address label{
/* color:#262626; */
color:white;
font-size:16px;
margin-top:10px;
margin-bottom:-10px;
}
.address input{
    height: 45px;
    border:1px;
    border: 1px solid #262626;
    border-radius: 4px;
    width:261px;
    background-color: white;
    color:#262626
}
.mar{
margin-right:20px;
}
.address h1{
    color:white;
    font-size:26px;
    padding-bottom:10px;
}
.email{
    width:542px!important;
}
.email-font{
font-size:16px!important;
margin-top:10px;
margin-bottom:-10px;
}

.payment{
background-color: #262626;    
}
.payment table{
    background-color: white;
    margin-left: 100px;
    margin-top:80px;
    margin-right:100px;
    text-align:left;
    text-align: justify;
    padding:30px;
}
.payment p{
    background-color: white;
    margin-left: 100px;
    margin-right:100px;
    text-align:left;
    text-align: justify;
}
.payment form{
    background-color:white;
    margin-left: 100px;
    margin-right:100px;
    text-align:left;
    text-align: justify;
}
.left{
    float:left;
}
.right{
    padding-left:250px;
}