.contact1{
    background-size:cover;
    height:450px;
    margin-top: -10px;
    color:white;
    text-align: left;
    padding-left:65px;
    padding-top:220px;
}
#address{
    background-color: rgba(128, 128, 128, 0.397);
    padding:40px;
    width:26%;
    margin-top:-310px;
    margin-right:102px;
    float:right;
}
.contact1 h1{
    font-size:65px;
}
.contact1 button{
    background-color:#80b441d5;
    padding:10px;
    color:white;
    border:1px solid white;
    border-radius:6px;
}
.contact2 {
    /* display:inline-block; */
    text-align: justify;
}
.contact2 form label{
    text-align: center;
}
.contact-3 {
    /* display:inline-block; */
    padding:80px;
    text-align: justify;
}
.width{
    width:200px;
    
}
.contact2 form input{
    width:272px;
    margin-right: 20px;
    padding:10px;
    font-size: 15px;
    background-color:#f1f0f3;
    border-radius:8px;
    border: none;
    color:gray
}
.background{
    background-color: #f9f8fa;
}
.b1{
    margin-bottom:15px;
}
.contact2 form label{
    font-size:13px;
    font-weight: 630;
}
#input{
    margin-left:-110px;
    margin-top:32px;
    padding-top:-30px;
}
#boxpara{
    margin-left:-125px;
    margin-top:32px;
}
#submit{
    font-size:18px;
    border:5px;
    padding:10px;
    color:white;
    width:140px;
    margin-top:30px;
    background-color: black;
}
#msg{
    padding:10px;
    font-size: 15px;
    background-color:#f1f0f3;
    border-radius:8px;
    border: none;
    color:gray;
}
#msg1{
    padding:10px;
    font-size: 15px;
    background-color:#f1f0f3;
    border-radius:8px;
    border: none;
    color:gray;
    width:272px;    
}
