body{
    background-color: rgb(241, 239, 239);
}

/* --Left Side */

.dashbord-sidebar{
    text-align: justify;
    border: 1px solid rgba(128, 128, 128, 0.267);
    padding-left:60px;
    background-color: #262626;
    margin-top:-2px;
    margin-right:40px;
    padding-bottom:30px;
    margin-left:-20px;

}
@media(max-width:600px){
    .dashbord-sidebar{
        margin-right:0px;
        margin-bottom: -40px;
    }
}
.dashbord-sidebar ul li a{
    width:265px;
    display:inline-block;
    padding:13px;
    margin-bottom:28px;
    background-color:white;
    border: 1px solid rgba(128, 128, 128, 0.267);
    color:#262626;
    border-radius: 5px;
    text-decoration: none;
    
}
.dashbord-sidebar ul li a:hover{
    background-color:rgba(241, 239, 239, 0.342);
    color:#262626;
    zoom: 10px;
    transition-duration: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.heading{
    font-size:22px;
    margin-top:22px;
    margin-bottom:18px;
    font-weight: bold;
    color:#81b441;

}
#i{
    background-color:#81b441;
    padding:8px;
    border-radius:3px;
    margin-right:4px;
    padding-top:2px;
    padding-bottom:5px;
    color:white;

}
.dashbord-sidebar ul li a i:hover{
    background-color: white;
}
.active1{
    background-color:rgb(241, 239, 239)!important;
    color: #81b441 !important;

}
.active1 i{
    background-color: white;
    padding:8px;
    border-radius:3px;
    margin-right:4px;
    padding-top:2px;
    padding-bottom:5px;
    color:#81b441;
    border: 1px solid rgba(128, 128, 128, 0.267);
}
.notifi{
    margin-left:80px;
    background-color: rgba(128, 128, 128, 0.267);
    color:#262626;
    padding:8px;
    padding-top:3px !important;
    padding-bottom:3px !important;
    border-radius: 5px;
    border:1px solid rgba(128, 128, 128, 0.267);

}
  
/* --Right Side */

.top{
    margin-top:40px;
    margin-left:-20px;
}
.sec1{
background-color:#262626;    
color:#262626;
border:1px dotted #262626;
border-radius: 5px;
margin-right:20px;
margin-bottom:20px;
padding-top:50px;
padding-bottom:50px;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
} 
@media(max-width:600px){
    .sec1{
        display:none;
    }
}
.sec1 i{
font-size: 30px;
color:white;
} 
.sec1 p{
padding-top:10px;
color:white;
}
.sec1:hover{
border-radius: 5px;
border:1px solid white;
zoom: 40px;
transform: scale(1.1);
transition-duration: 2s;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

