@media(max-width:600px){
    .filter{
        display: block !important;
        margin-bottom:30px!important;
        padding-left:0px;
        padding-right:0px;
    }
    .color{
        background-color: #262626;
    }
    .btn1{
        margin-bottom:10px;
    }
    .myBtnContainer1{
        display:flex-block;
    }
    .option{
        margin-left:0px !important;
        margin-top:2px!important;
    }
}

.filter{
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom:-30px;
}
.btn1{
    border:1px;
    border-color:black;
    border-radius: 8px;
    margin-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:7px ;
    padding-right:7px ;
}
.btn1:hover{
background-color:rgb(168, 168, 168);
transform: scale(1.05);
}
.btn1:active{
    background-color:rgb(168, 168, 168);
    transform: scale(1.05);
}
.option{
   margin-left:130px;
   margin-top:-3px;
   
}
.options{
    background-color:rgb(235, 232, 232);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
    padding-right:17px ;
    border-radius: 6px;
    border:1px;
    border-color:black;
    border-radius: 8px;
    width:200px;
}