 @media(max-width:600px){
.footer1{
  padding-bottom: 10px!important;
  padding-top: 80px!important;
}
.footer2{
  padding-bottom: 10px!important;
  padding-top: 30px!important;
}
.footer3{
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.footer4{
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.footer5{
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.footer-bottom1{
  padding-left:14px!important;
}
 }
 .footer-area{
    background-color:#262626;
    color:white;
    padding-top:70px;
    padding-bottom:50px;
    text-align: left;
   }
    .flex{
      display: flex;
    }
   @media(max-width:600px){
    .flex{
      display:inline;
    }
  }
  .footer-area a{
    text-decoration:none;
    color:#81b441;
    font-size:14.5px;
  }
  .footer1{
    padding-left:60px;
  }
  .footer1 a{
    text-decoration: underline;
  }
  .footer1 ul{
   padding-left:1px;
   font-size:25px;
  }
  .footer1 ul li{
    padding-right:15px;
   }
  .footer2{
    padding-left:60px;
  }
  .footer2 h4{
    color: #81b441;
    font-size:26px;
    padding-bottom: 12px;
  }
  .footer-heading{
    font-size:22px;  
   }
  .footer3{
    padding-left:60px;
  }
  .footer4{
    padding-left:60px;
  }
  .footer5{
    padding-left:60px;
  }
  .footer-bottom1{
    color:white;
    background-color:#262626;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    padding-left:60px;
  }