@media(max-width:600px){
    .card2:hover{
        transform: scale(1)!important;
    }
    .card2 img:hover{
    transform:scale(1)!important;  
    }
}
.margin{
    margin-top: 40px;
    margin-bottom: 40px;
}
.card2:hover{
    transform: scale(1.1);
    transition-duration: 2s;  
  }
  .card2{
    margin-bottom:30px;
    height:250px;
    border: 2 px solid gray;
    border-radius: 10px;
    background-color:white;
  }
  .card2 img{
      border-radius: 10px;
      height:175px;
      will-change: transform;
  }
  .card2 img:hover{
  transform:scale(1.1);  
  }
  .card2-b-1:active {
    display:none;
  }
  .card2-b-1 {
    margin-left:-150px;
    padding:2px 45px 2px 45px;
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.777);
    color:white;
    border-radius: 5px;
    width: 140px;
    margin-top:-120px;
    position: absolute;
  }
  .card2-b-1:hover{
    background-color: rgba(255, 255, 255, 0.559);
    border:1px solid gray;
    color:black;
  }
  .card2-b-2{
    margin-left:10px;
    padding:2px 45px 2px 45px;
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.777);
    color:white;
    border-radius: 5px;
    width: 140px;
    margin-top:-120px;
    position: absolute;
  }
  .card2-b-2:hover{
    background-color: rgba(255, 255, 255, 0.559);
    border:1px solid gray;
    color:black;
  }
  .card-b-div{
  padding-top:-30px;
  }
  .card2-title{
  padding-top: 20px;
  color:black;
  font-family: "DM Sans",sans-serif;
  font-weight: 300;
  font-size:15px;
  letter-spacing: -.02em;
  line-height: 1.35;
  }
  .card2-para{
  color:gray;
  letter-spacing: -.02em;
  line-height: 0.05;
  font-size: 13px;
  }
  .card2-para:hover{
    color:#81b441;
}