@media(max-width:600px){
    .box img{
        width:330px!important;
      }
      .box:hover{
        transform: scale(1)!important;
      }
      .box-button1{
        margin-left:65px!important;
      }
}
.margin{
    margin-top: 40px;
    margin-bottom:40px;
}
.box{
    border-radius: 5px;
    margin-top:30px;
    margin-bottom:30px;
    height:300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .box:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  .box img{
    height:180px;
    width:255px;
  }
  .box h6{
    text-align: left;
    font-size:14.3px;
    margin-left:15px;
    overflow: hidden;
    margin-right:18px;
    margin-top:14px;
  }
   .box .box-div{
    margin-top:5px;
    text-align: left;
    font-size:14.3px;
    margin-left:15px;
    overflow: hidden;
    margin-right:18px;
    line-height: 14px;
    padding-top: -5px;
   }
   .box .box-div2{
    float: left;
    margin-left:15px;
    margin-top:5px;
    display: flex;
    padding-top: -5px;
   }
   .box .box-div2-price{
    margin-left:4px;
    margin-right:4px;
    color:#81b441;
   }
   .box .box-button1{
    font-size: 18px;
    width: 38px;
    height:38px;
    border-color:gray;
    color:white;
    border-width: 1.8px;
    border-radius: 3px;
    margin:0px;
    padding:0px;
    margin-right:5px;
   }
   .box .box-button1:hover{
    background-color:gray;
    color:white;
   }
   .box .box-button2{
    height:38px; 
    border-color:#81b441;
    color:#81b441;
    background-color: white;
    border-width: 1.8px;
    font:bold;
    font-size:14px;
    border-radius: 3px;
    float:right;
    width:100px;
    margin:0px;
    padding:0px;
   }
   .box .box-button2:hover{
    background-color: #81b441;
    color:white;
   }