@media(max-width:600px){
    .grid{
        margin-top: 0px!important;
      }
      .card1image{
        width: 330px !important;
      }
      .card1:hover{
          transform: scale(1)!important;
      }
    }
    .card1{
        height:336px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border-radius: 15px;
        margin-top:30px;
        margin-bottom:30px;
        padding-top: 40px;
        }
        .card1:hover{
          transform: scale(1.1);
          transition-duration: 3s;
        }
        .card1image{
          height:180px;
          width:348px;
          border-radius: 15px;
        }
        .card1url1{
          margin-right: 5px;
          color:gray;
        }
        .card1url1:hover{
          text-decoration: none;
          color:black;
        }
        .card1url2{
          margin-left: 5px;
          color:gray;
        }
        .card1url2:hover{
          text-decoration: none;
          color:black;
        }