.help{
    margin-top:50px;
}
.help1{
    /* border:1px solid black; */
    margin:70px;
    text-align:left;
    
}

.help1 nav ul li{
    padding: 40px;
    padding-left:0px;
    padding-top: 0px;
    font-size: 18px;
}

.help1 nav ul{
padding-left:0px;


}

.help1 nav ul li select{
    
    background-color:gray;
    padding:10px;
    color:white;
    border:1px solid gray;
    border-radius:6px;
    padding-top:6px;
    padding-bottom:6px;
}
.help1 nav ul li button{
   
    background-color:gray;
    padding:6px;
    padding-top:5.5px;
    color:white;
    border:1px solid gray;
    border-radius:6px;
    margin-top:26.5px;
    padding-left:20px;
    padding-right:20px;

} 
.help1 nav ul li select option{
    background-color: white;
    color:gray;
}
nav{
    margin-top:-30px;
}
form{

    text-align:left;
    text-align: justify;
}
label{
   font-size:20px;
}
.ticket{
    border:1px solid black;
    margin:70px;
    margin-top:-70px;
    text-align:left;
    background-color:gray;
    color:white;
    padding:100px;
}
.a{
    background-color:#80b441d5;
    padding-left:30px;
    padding-right:30px;
    padding-top:6px;
    padding-bottom:6px;
    color:white;
    border:1px solid white;
    border-radius:6px
}