.dashbord-sidebar1{
    text-align: justify;
    border: 1px solid rgba(128, 128, 128, 0.267);
    padding-left:60px;
    background-color: #262626;
    margin-top:-2px;
    margin-right:40px;
    padding-bottom:30px;
    margin-left:-20px;

}
@media(max-width:600px){
    .dashbord-sidebar1{
        margin-right:0px;
        margin-bottom: -40px;
    }
}
.dashbord-sidebar1 ul li a{
    width:265px;
    display:inline-block;
    padding:13px;
    margin-bottom:28px;
    background-color:white;
    border: 1px solid rgba(128, 128, 128, 0.267);
    color:#262626;
    border-radius: 5px;
    text-decoration: none;
    
}
.dashbord-sidebar1 ul li a:hover{
    background-color:rgba(241, 239, 239, 0.342);
    color:#262626;
    zoom: 10px;
    transition-duration: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.heading1{
    font-size:22px;
    margin-top:22px;
    margin-bottom:18px;
    font-weight: bold;
    color:#81b441;

}
#i1{
    background-color:#81b441;
    padding:8px;
    border-radius:3px;
    margin-right:4px;
    padding-top:2px;
    padding-bottom:5px;
    color:white;

}
.dashbord-sidebar1 ul li a i:hover{
    background-color: white;
}
.active2{
    background-color:rgb(241, 239, 239)!important;
    color: #81b441 !important;

}
.active2 i{
    background-color: white;
    padding:8px;
    border-radius:3px;
    margin-right:4px;
    padding-top:2px;
    padding-bottom:5px;
    color:#81b441;
    border: 1px solid rgba(128, 128, 128, 0.267);
}
.notifi1{
    margin-left:80px;
    background-color: rgba(128, 128, 128, 0.267);
    color:#262626;
    padding:8px;
    padding-top:3px !important;
    padding-bottom:3px !important;
    border-radius: 5px;
    border:1px solid rgba(128, 128, 128, 0.267);

}