 body{
  background-color: white !important;
 }
 .login-form2{
    display:flex;
    margin-top:60px;
    margin-bottom:60px;
    
  }
  @media(max-width:600px){
    .login-form2{
      display: inline;
      margin-top:20px;
      margin-bottom:20px;
    }
   }
  
  .login-box-right2{
    border-radius:15px;
    background-color:#262626; 
    color:white;
    padding:70px;
    text-align:left;
    margin-left:50px;
    margin-right:80px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media(max-width:600px){
  .login-box-right2{
    padding:30px;
    margin-left:20px;
    margin-right:20px; 
  }
} 
.login-box-left img{
    margin-left:100px;
    margin-right:50px;
  }
  @media(max-width:600px){
    .login-box-left img{
      width:300px;
      height:300px;
      margin-left:0px;
      margin-right:0px;
      margin-top:0px;
    }
  }
  .login-box-right2 label{
    font-size:15px;
    margin-bottom:-10px;
  }
  .login-box-right2 input{
    width:226px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 7px;
    padding-top:3px;
    padding-bottom:3px;
    margin-bottom:10px;
  }
  .login-box-right2 button{
    padding-left:92px;
    padding-right:92px;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 7px;
    margin-top:10px;
  }
  .login-box-right2 .checkbox1{
    margin-top:4px;
  }
  .login-box-right2 .create-account{
    display:inline-block;
    margin-left:6px;
  }
  
  .login-box-right2 .button2 button{
    padding-left:4px;
    padding-right:4px;
    /* padding-bottom: 4px; */
    margin-left:20px;
    margin-top:-10px;
    border:none;
    color:#ffffffd5;
    font-size:24px;
    display:inline-block;
    background-color:#262626;
  }
   