.Menu{
    padding-top:15px;
    height: 70px;
    background-color:#262626;    
  }
  #resmenu{
    display: none;
  }
  .Menu nav ul li{
    display:inline-block;
   
  }
  .Menu nav ul li .nav{
    color:gray;
    text-decoration:none;
    margin-left:10px; 
    font-family:redo;
    font-size:18px;
    padding: 3px 6px;
  }
  .Menu nav ul li .nav:Hover{
    border-left:5px;
    color:white;
    transition: all 2s;
  }
  .Menu nav ul button{
    margin-left:20px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:8px;
    border-color:white;
    color:white;
    font-family:redo;
    font-size:18px;
    background-color: #81b441;
  }
  
  @media(max-width:600px){
    #resmenu{
      display: block;
    }
    #deskmenu{
      display: none;
    }
   }
  
  .Menu nav ul{
    margin-right:30px;
    float: right;
  }
.Menu nav ul li {
    color: white !important;
  }