    .breadcrumb{
    font-size:18px;
    margin-bottom:0px !important;
    Padding-left:75px !important;
    background-color: rgb(241, 239, 239) !important;
    margin-top: 30px !important;
    }
    .breadcrumb a{
    color:#81b441 !important;
    }
    .info{
    text-align: left;
    padding-left:55px;
    padding-right:75px;
    text-align: justify;
    font-size:16px;
    padding-bottom:40px;
    /* border:1px solid #262626; */
    }
    .image{
    margin-left:75px;
    /* border:1px solid #262626; */
    padding-bottom:40px;
    }
    .image img{
    width:550px;
    height:340px;
    }
    .image:hover{
   zoom: 105%;
    }
    .info ul{
    line-height: 40px;
    padding-top: -30px!important; 
    }
    .info ul li{
    margin-left:30px;
    margin-top:-10px !important;  

    }
    .info a {
    color:#81b441;
    }
    .box-button1{
    font-size:18px;
    width: 160px;
    height:45px;
    border-color:gray;
    color:white;
    border-width: 1.8px;
    border-radius: 3px;
    margin-right:-70px;
    margin-top:20px;
    background-color:gray;
   }
    .box-button1:hover{
    background-color:gray;
    color:white;
   }
    .box-button2{
    height:45px; 
    margin-top:20px;
    border-color:#81b441;
    color:white;
    background-color: #81b441;
    border-width: 1.8px;
    font:bold;
    font-size:18px;
    border-radius: 3px;
    float:right;
    margin-right:80px;
    width: 160px;
   }
    .box-button2:hover{
    background-color: white;
    color:#81b441;
   }

    