.new-div{
    Padding-top: 80px !important;
    padding-bottom: 40px !important;
    background-color:rgb(241, 239, 239);
    padding-left: 0px !important;
    border-top:1px solid #262626;
}
.new-div nav ul li{
    border: 1px solid #262626;
    border-radius: 8px;
    padding-left:30px;
    padding-right:30px;
    padding-top:12px;
    padding-bottom:12px;
    background-color:#80b441dc;
    color:white;    
    font-size: 15px;
    font-weight: 700;
    margin-right: -20px;
    margin-left:40px;
    margin-bottom:40px;
    text-decoration:none;
    
}
.new-div nav ul a{
    text-decoration: none;
}
#a,#b,#c,#d,#e{
    text-align: justify;
    background-color:rgb(241, 239, 239);
    padding-left: 80px;
    padding-right: 80px;
}
.row1{
    display:flex!important;
}
.column1{
    padding-right:40px;
}
.column2{
    padding-left:40px;
}

.tr1,.tr2{
    border-bottom:1px solid #262626;
}
#c{
    font-size: 16px;
    /* margin-left:150px; */
}
.td1{
    padding-right:750px;
    padding-top:30px;
    padding-bottom:30px;
}